.whatYouGet-bgcolor {
	background-color: $bg-code-color;
}

.whatYouGet {
	@include flex;
	padding-top: 6.1em;
	padding-left: 5.6em;
	padding-bottom: 2.2em;
}

.whatYouGet__info {
	@include flex;
	flex-direction: column;
	gap: 2em;
	margin-right: 3.1em;

	&-wrap {
		@include flex;
		justify-content: flex-start;
		max-width: 593px;
		align-items: center;
		gap: 1.4em;
	}

	&-img {
		@include flex;
		justify-content: center;
		width: 100%;
	}

	&-wrap:first-child {
		gap: 0.1em;
	}


	&-text {
		font-family: $primary-fonts;
		font-weight: 400;

		&-title {
			font-size: rem(16);
			line-height: rem(21);
			color: $subtitle-color;
			margin-bottom: 1em;
		}

		&-subtitle {
			font-size: rem(14);
			line-height: rem(21);
			color: $text-color;
		}
	}
}

.whatYouGet__code {
	@include flex;
	flex-direction: column;
	align-items: flex-start;

	&-title {
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(47);
		line-height: rem(50);
		color: $title-color-text;
		padding-bottom: .5em;

		@media(min-width: 993px) and (max-width:1115px) {
			padding-bottom: 1.1em;
			font-size: rem(40);
			line-height: rem(40)
		}

		// @media(min-width: 993px) and (max-width:1100px) {
		// 	font-size: 70%;
		// }

		// @media(min-width: 993px) and (max-width:1078px) {
		// 	font-size: 52%;
		// }
	}

	&-image img {
		width: 100%;
		min-height: 519px;
	}


}


// @media((min-width: 320px) and (max-width:480px)){


// }

// @media((min-width: 481px) and (max-width:992px)){


// }

// @media((min-width: 993px) and (max-width:1200px)){


// }