.header {
	max-height: 800px;
	background-image: url("../../../dist/images/header-background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__logo {
	display: flex;
	
	color: #8D81AC;
	@include flex(flex-start);

	&-title{
		color: #8D81AC;
		margin-left: 17px;
	}

	&:hover{
		color:white;
	}

}



.hero__menu {
	@include flex(flex-end);
	margin-top: 14px;
	margin-right: 110px;


	&-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: -70px;


	}

	&-item {

		padding-right: 48px;
	}

	&-link {
		color: #8D81AC;
		
	}

	&-buy-link {
		border:2px solid #8D81AC;
		background-color: #8D81AC;
		font-weight: bold;
		font-size: 16px;
		line-height: 17px;
		border-radius:40px;
		padding: 11px 20px 11px 20px;
		color: white;
		display: inline-block;
		margin-left: 20px;
		margin-top: -70px;


	}


	&-link:hover {
		color: white;
		
	}

	&-buy-link:hover {
		color: #8D81AC;
		background-color: white;
	}



}

.hero__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 126px;

	&-title {
		font-size: 82px;
		line-height: 82px;
		color: white;
		font-weight: bold;
		font-family: Montserrat;
	}

	&-subtitle {
		margin-top: 19px;
		font-family: Lato;
		font-size: 30px;
		line-height: 30px;
		color: #8D81AC;

	}

	&-text {
		margin-top: 19px;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		color: #848E97;

	}
}

.hero__button {
	position: relative;
	display: flex;
	cursor: pointer;



	justify-content: center;

	margin-top: 386px;
	&-download {
		border: 1px solid #8D81AC;
		border-radius: 40px;

		
		padding: 23px 60px 23px 60px;
		font-size: 21px;
		background: #8D81AC;
		line-height:22px;
		color: #fff;
		position: absolute;
		
		text-transform: capitalize;


	}

	&-download:hover{
		background: white;
		color: #8D81AC;

	}


}



// .hero__top {}









// @media((min-width: 320px) and (max-width:480px)) {}

// @media((min-width: 481px) and (max-width:992px)) {}

// @media((min-width: 993px) and (max-width:1200px)) {}
