.pricing-background {
	// here'll be background
}

.pricing__content {
	padding-top: 5.1em;
	//here'll be grid set

	&-title {
		font-family: $primary-fonts;
		font-weight: 700;
		text-transform: capitalize;
		text-align: center;
		color: black;
		font-size: rem(48);
		line-height: rem(50);
	}
}

// @media((min-width: 320px) and (max-width:480px)){


// }

// @media((min-width: 481px) and (max-width:992px)){


// }

// @media((min-width: 993px) and (max-width:1200px)){


// }